footer {
  width: 100%;
  height: auto;

  padding: 5px 0px;
  background-color: #000;

  position: sticky;
  top: 0;
}

footer > h5 {
  text-align: center;

  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
