section h1 {
  font-size: 24px;

  text-align: center;
  text-decoration: underline;
}

.div_table {
  border: 1px solid black;

  margin: 30px 0px;
  padding: 50px;
}

table,
thead,
tbody {
  width: 100%;
  border: none;

  text-align: center;
}

table > thead {
  background-color: gray;
  color: white;
  text-align: center;
  font-size: 16px;
}

table > thead > th {
  padding: 10px;
}

table > tbody {
  background-color: white;
  color: black;
  font-size: 16px;
}

table > tbody > tr > td {
  border-bottom: 1px solid black;
}

button {
  cursor: pointer;
  color: white;
}

button:hover {
  opacity: 0.8;
}

.buttonSubmit {
  background-color: blue;
  border: none;
  padding: 7px 12px;
}

.buttonEdit {
  background-color: orange;
  border: none;
  padding: 7px 12px;
}

.buttonDelete {
  background-color: red;
  border: none;
  padding: 7px 12px;
}

.div_form {
  width: auto;
  height: auto;

  border: 1px solid black;

  margin: 30px 0px;
}

.div_form > form {
  padding: 50px;
}

.div_form > form > div {
  padding: 10px;
}

.div_form > form > div > label {
  font-size: 16px;
  font-weight: bold;

  float: left;
  width: 20%;
  padding-right: 24px;
}

.div_form > form > div > input,
textarea {
  margin: 0 20px;
  padding: 10px 15px;
  border-radius: 10px;

  width: 60%;
}

.div_form > form > div > button {
  width: 100%;

  border-radius: 10px;
  padding: 10px 15px;
}
