.div-tugas15 {
  display: flex;
  justify-content: center;
}

.btn-tugas15 {
  padding: 12px 15px;
  border-radius: 20px;
  margin: 0 auto;

  color: black;
  background-color: white;
}

.btn-tugas15:hover {
  background-color: black;
  color: white;

  border: 0;
}
